# SPDX-FileCopyrightText: © 2024 Sebastian Davids <sdavids@gmx.de>
# SPDX-License-Identifier: Apache-2.0

# https://git-scm.com/docs/gitignore

### Temporary ###
*~
*.tmp

### vim ###
*.sw[a-p]

### Git ###
*.orig

### Mac ###
.DS_Store

### Windows ###
[Dd]esktop.ini
Thumbs.db

### Jetbrains ###
.fleet/
.idea/
jffi*.dylib

### Visual Studio Code ###
.vscode/

### LaTeX ###
*.pdf
build/
!examples/**/*.pdf
